.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e2f;
  padding: 10px 20px;
  color: white;
}

.navbar-left {
  flex: 1;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 950px; 
  font-size: 1.1rem;
}

.history {
  margin-left: 40px; 
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.nav-link {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #ddd;
}

.user-icon {
  font-size: 1.6rem;
  cursor: pointer;
}
